{% extends 'base.html' %}

{% block content %}
  <h2>{{ product.name }}</h2>
  <p>Описание: {{ product.description }}</p>
  <p>Категория: {{ product.category }}</p>
  <p>Цена: {{ product.price }} тенге</p>
  <p>Количество: {{ product.quantity }} кг/шт/ед</p>
  <p>Дата добавления: {{ product.date_added }}</p>
  <a href="{% url 'product_update' pk=product.pk %}">Изменить</a>
  <a href="{% url 'product_delete' pk=product.pk %}">Удалить</a>
  <a href="{% url 'product_list' %}">Вернуться</a>
{% endblock %}
